html {
  height: 100%;
}

body {
  margin: 0px;
  height: 100%;
}

#controll{
  position: absolute;
}

#map{
  height: 100%;
  width: 100%;
  background-color: green;
  overflow: hidden;
}

#map img{
}